.header{
	text-align:center;
	background-color:rgba(100,200,50,0.2);
	font-family:"Times";
	font-style:italic;
	display:inline;
}
*{
	box-sizing:border-box;
}
}
#lef{
	background-color:rgba(0,128,128);
	margin:10px;
	border:1px solid black;
	float:left;
	vertical-align:top;
}
#Right{
	height:500px;
	width:500px;
	padding:30px;
	font-family: "Times New Roman", Georgia, Serif;
	background:linear-gradient(141deg, #0fb8ad 0%, #1fc8db 50%, #2cb5e8 70%);
	color:white;
	position:relative;
	z-index:500;
	word-wrap:break-word;
	clear:both;

}
.all{
	display:table-row;
}
.tab{
	display:table;
}
.left div{
	line-height:2em;
	background-color:rgba(0,128,128,0.4);
	margin:4px 10px;
	width:150px;
	padding:9px;
	padding-left:20px;
}
pre{
	word-wrap:break-word;
	font-family:Serif;
	white-space: pre-wrap;      
    word-wrap: break-word;
	}
a{
	text-decoration:none;
}
.left div:hover{
	color:rgba(0,128,225);
	background-color:rgba(200,100,0,0.4);
	box-shadow:5px 5px 5px #888888;
}
footer {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}
#pp1{
	    clear: both;
    margin-bottom: 1em;
    margin-top: 0;
}